@charset "utf-8";

body {
  font-family: sans-serif;
  background: #39628e;
}

#main {
  background: #eee;
  padding: 20px;
  margin-bottom: 10px;
  min-height: 300px;
}

h3.title {
  border-bottom: #d4d4d4 solid 1px;
}