@charset "utf-8";

body {
  font-family: sans-serif;
  background: #39628e;
}

#main {
  background: #fff;
  padding: 20px;
  margin-bottom: 10px;
  min-height: 300px;
  border: solid 5px rgb(36, 82, 133)}

h3.title {
  border-bottom: #d4d4d4 solid 1px;
}

footer {
  color: #fff;
}