.row.clearfix
  .span12
    %a#logo{href:'/'}
      =image_tag('logo.png')
.row.clearfix
  .span12.navigation
    .navbar
      .navbar-inner
        %ul.nav.pull-right
          %li
            %a(href="/about") About Us
          %li
            %a(href="/comm_aid") Community Aid
          %li
            %a(href="/projects") Projects
          %li
            %a(href="/gallery") Gallery
          %li
            %a(href="/forms") Forms
          %li
            %a(href="/contact") Contact Us
