.row.clearfix
  .span3
    %a{href:'/'}
      =image_tag('logo.png')
  .span9.pull-right.navigation
    .navbar
      .navbar-inner
        %ul.nav.pull-right
          %li
            %a(href="/about.html") About Us
          %li
            %a(href="/comm_aid.html") Community Aid
          %li
            %a(href="/projects.html") Projects
          %li
            %a(href="/gallery.html") Gallery
          %li
            %a(href="/forms.html") Forms
          %li
            %a(href="/contact.html") Contact Us
