---
title: "GCAV - About"
name: "About Us"
---

- content_for :head do
  :javascript
    // do stuff

%h3.title About Us
%p The Ghanaian Club of Virginia (GCAV) was founded by Ghanaian-Americans living in the state of Virginia with the expressed desire to enhance the future earning potential of Ghanaians living in the state of Virginia and in Ghana, West Africa.
%br/

%h4 Mission
%p The Ghanaian Club of Virginia (GCAV) is a non-profit organization whose mission is to provide computer technology and computer literacy education to Ghanaian and Ghanaian-Americans (with an emphasis on children). Through computer education and mentoring. Our goal is to afford deserving under-privileged children in Ghana the opportunity and the tools needed to compete in today’s global technological world.
%br/

%h4 Achievements
%p Since our inception January 2008, we have acquired land in Accra, Ghana. This land will be used to facilitate a computer lab housing state-of –the-art computers and teaching the latest technological advances.