---
title: "GCAV - Contact Us"
name: "Contact Us"
---

- content_for :head do
  :javascript
    // do stuff

%h3.title Contact Us

.row-clearfix
  .span6
    %p Please don't hesitate to contact us if you have any questions, comments or messages.

    %br/
    %br/

    %h4 MEETING TIMES
    %p
      We meet on the last Saturday of every month.
      Our meetings start at 6p and usually last about 2 hours.

    %br/
    %br/

    %h4 MAILING ADDRESS
    %address
      P.O Box 5094
      %br/
      Fredericksburg, VA 22403

    %br/
    %br/

    %h4 MEETING ADDRESS
    %address
      8100 Fordson Rd.
      %br/
      Alexandria, VA 22306

    %p PHONE: 703-445-5336
    %P ALTERNATE: 703-626-0607
    %p
      EMAIL:
      %a{href:'mailto:info@gcav.org'}info@gcav.org

  .span6
    =image_tag('map.png')

    %h4 DIRECTIONS

    %h5 From North (MD, DC)

    %ol
      %li Merge onto I-495 S/I-95 S toward Richmond
      %Li Take exit 177B-A to merge onto Richmond Hwy/US-1
      %li Turn left at Fordson Rd
      %li Arrive at destination
      %li From South (Fredericksburg, Richmond)

    %h5 From South (Fredericksburg, Richmond)

    %ol
      %li Take the ramp onto I-95 N
      %li Take exit 161 to merge onto Richmond Hwy/US-1 toward Mt Vernon/Ft Belvoir Continue to follow Richmond Hwy
      %li Slight right at Sherwood Hall Ln
      %li Turn right at Fordson Rd
      %li Arrive at destination
