---
title: "GCAV - About"
name: "About Us"
---

- content_for :head do
  :javascript
    // do stuff

%h3.title Registration
%p In order to become a member of our club, you'll need to fill out a registration form.
%p We look forward to seeing you at our next meeting.

%hr/

%row-fluid.clearfix
  .span6
    %p You can choose to pre-register online .
    %p We will contact you within 48 hours to confirm.
    %p Please fill out the form below.



  .span6
    %p Optionally, you can download, print and complete the form.
    %P Upon completion, please bring it to our next meeting
