---
title: "GCAV - Forms"
name: "Forms"
---

- content_for :head do
  :javascript
    // do stuff

%h3.title Registration
%p In order to become a member of our club, you'll need to fill out a registration form. You can choose to pre-register online or download, print and complete the form.  Upon completion, please bring it with you to our next meeting.

%p We look forward to seeing you at our next meeting.

%hr/


%row.clearfix
  .span6
    %p Please fill out the form below. We will contact you within 48 hours to confirm.

    = partial "partials/signup_form"

  .span6
    %p Optionally, you can download, print and complete the form.
    %p
      %a{href:'/docs/registration.pdf', class:'btn btn-primary btn-large'} Download Registration Form

