---
title: "GCAV - Gallery"
name: "Gallery"
---

- content_for :head do
  :javascript
    // do stuff

%h3.title Gallery

%h4 2009 Homowo Festival
#myCarousel.carousel.slide
  -#Carousel items
  .carousel-inner
    - get_images.each_with_index do |image,index|
      %div{class: "item #{index == 0 ? 'active' : '' }"}
        =image_tag "2009_homowo/#{image.split('/').last}"

  -#Carousel nav
  %a.carousel-control.left{href:"#myCarousel", data: {slide: "prev"}} &lsaquo;
  %a.carousel-control.right{href:"#myCarousel", data:{slide: "next"}} &rsaquo;
