---
title: "GCAV - Home"
name: "Home"
---

- content_for :head do
  :javascript
    // do stuff

.row-fluid.clearfix
  .span9
    =image_tag('homowo_2013_web.jpg')

  .span3.sidebar
    %h4 UPCOMING EVENTS

    .event
      %h5 Member Meeting
      %div
        %strong Date:
        4/20/13
      %div
        %strong Time:
        6:00p - 8:00p
      %div
        %strong Location:
        %br/
        Gum Spring Community Center
        %br/
        8100 Fordson Rd
        %br/
        Alexandria, VA 22306
      %a(href='#' class='btn btn-primary') Get Directions
    .event
      %h5 Member Meeting
      %div
        %strong Date:
        4/20/13
      %div
        %strong Time:
        6:00p - 8:00p
      %div
        %strong Location:
        %br/
        Gum Spring Community Center
        %br/
        8100 Fordson Rd
        %br/
        Alexandria, VA 22306
      %a(href='#' class='btn btn-primary') Get Directions

%hr
%p
  The Ghanaians Club of Virginia (GCAV) is a non-profit organization whose mission is to provide computer technology and computer
  literacy education to Ghanaian and Ghanaian-Americans (with an emphasis on children). Through computer education and mentoring.
  Our goal is to afford deserving under-privileged children in Ghana the opportunity and the tools needed to compete in today’s global technological world.
