---
title: "GCAV - Home"
name: "Home"
---

- content_for :head do
  :javascript
    // do stuff

.row-fluid.clearfix
  .span9
    =image_tag('2016-Homowo-Festival-Front.png')
  .span3.sidebar
    %h4 UPCOMING EVENTS
    -data.events.events.each do |event|
      .event
        %h5=event.title
        %div
          %strong Date:
          =event.date
        %div
          %strong Time:
          =event.time
        %div
          %strong Location:
          %br/
          =event.location
        %a(href='https://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=Gum+Spring+Community+Center+8100+Fordson+Rd.+Alexandria,+VA+22306' class='btn btn-primary') Get Directions

%hr
%p
  The Ghanaians Club of Virginia (GCAV) is a non-profit organization whose mission is to provide computer technology and computer
  literacy education to Ghanaian and Ghanaian-Americans (with an emphasis on children). Through computer education and mentoring.
  Our goal is to afford deserving under-privileged children in Ghana the opportunity and the tools needed to compete in today’s global technological world.
